{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/dashboard/dashboard.css"/>
    {{/content}}

    {{#content "page"}}
        <div class="row mobile-no-margin-right">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container-fluid">

                        <section class="section-timetable">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>Stundenplan</h5>
                                    <time class="selected-date">Donnerstag, 13. Juli 2017</time>
                                </div>
                            </div>

                            <div class="container-fluid timetable">
                                <div class="row lesson-cards">
                                    <div>
                                        <a class="lesson-card" style="width: 31.25%;left: 68.75%;">
                                            <div class="card card-block" style="">
                                                <time class="lesson-time">13:30 - 17:00</time>
                                                <h3 class="card-title">Bachelorpodium</h3>
                                                <p class="card-text">Hörsaal 1</p>
                                            </div>
                                        </a>
                                        <a class="lesson-card" href="/courses/5900a69f7100d4367d8fad39" style="width: 18.75%; left: 25%;">
                                            <div class="card card-block" style="background-color: #f4e6cb;
                                                        border-color: #f4e6cb;">
                                                <time class="lesson-time">10:00 - 11:30</time>
                                                <h3 class="card-title">Deutsch</h3>
                                                <p class="card-text">Raum 1.2</p>
                                            </div>
                                        </a>
                                        <a class="lesson-card" href="/courses/5928463564d87543e48310ee" style="width: 18.75%; left: 0%;">
                                            <div class="card card-block" style="background-color: #d8fcc2;
                                                        border-color: #d8fcc2;">
                                                <time class="lesson-time">08:00 - 09:30</time>
                                                <h3 class="card-title">Mathe</h3>
                                                <p class="card-text">Raum 2.4</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="timeline">
                                        <div class="container-fluid">
                                            <table style="width:100%">
                                                <tbody><tr>
                                                    <td style="width:10%">
                                                        <div class="tick">8.00</div>
                                                    </td>
                                                    <td style="width:10%">
                                                        <div class="tick">9.00</div>
                                                    </td>
                                                    <td style="width:10%">
                                                        <div class="tick">10.00</div>
                                                    </td>
                                                    <td style="width:10%">
                                                        <div class="tick">11.00</div>
                                                    </td>
                                                    <td style="width:10%">
                                                        <div class="tick">12.00</div>
                                                    </td>
                                                    <td style="width:10%">
                                                        <div class="tick">13.00</div>
                                                    </td>
                                                    <td style="width:10%">
                                                        <div class="tick">14.00</div>
                                                    </td>
                                                    <td style="width:10%">
                                                        <div class="tick">15.00</div>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>
                                        <div class="current-time" style="width: 78%;">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>


                    <section class="section-tasks">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12"><h5>Gestellte Aufgaben</h5></div>
                            </div>
                            <div class="tasks row card-deck-row">
                                {{#each homeworks}}
                                    {{#each this}}
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="card h-100">
                                                <div class="card-block">
                                                    <div class="card-text">
                                                        <small class="text-muted">Fällig: {{timeFromNow dueDate}}</small>
                                                    </div>

                                                    <div class="card-text"><strong>{{#if courseId}}<span style="color:{{color}}">●</span> [{{courseId.name}}] {{/if}}{{name}}</strong></div>
                                                    <p class="card-text">{{{truncate description}}}</p>
                                                </div>
                                                <div class="card-footer">
                                                    <a class="btn btn-primary btn-block" href="{{url}}">Zur Aufgabe</a>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/each}}
                            </div>
                        </div>
                    </section>

                    <section class="section-tasks">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12"><h5>Meine Aufgaben</h5></div>
                            </div>
                            <div class="row tasks card-deck-row">
                                {{#each myhomeworks}}
                                    {{#each this}}
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="card h-100">
                                                <div class="card-block">
                                                    <div class="card-text">
                                                        <small class="text-muted">Fällig: {{timeFromNow dueDate}}</small>
                                                    </div>

                                                    <div class="card-text"><strong>{{#if courseId}}<span style="color:{{color}}">●</span> [{{courseId.name}}] {{/if}}{{name}}</strong></div>
                                                    <p class="card-text">{{{truncate description}}}</p>
                                                </div>
                                                <div class="card-footer">
                                                    <a class="btn btn-primary btn-block" href="{{url}}">Zur Aufgabe</a>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/each}}
                            </div>
                        </div>
                    </section>


                    <section class="section-news">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12"><h5>Neuigkeiten</h5></div>
                            </div>
                            <div class="row articles">
                                <div class="col-sm-12">
                                    <div class="card-group">
                                        {{#each news}}
                                            <div class="card card-block"><strong class="card-text">{{name}}</strong>
                                                <p class="card-text">{{summary}}</p>
                                                <p class="card-text">
                                                    <small class="text-muted">{{timeFromNow date}}</small>
                                                </p>
                                                <!--<a href="{{url}}">Weiterlesen</a>-->
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
